.navbar-brand img {
    max-height: none;
    width: 305px !important;
}

.hero {
    background-image: url(/assets/cat-hero-banner-image-2x.png);
    background-size: cover;
    background-position: center bottom;     
}

.hero .tabs li.is-active a {
    color: #1d1c1d !important;
}

.section.section {
    scroll-margin-top: 2em;
}

.collection section.section:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
}

.tips, footer.footer {
    font-size: 0.9em;
}

footer.footer a {
    color: currentColor;
}

footer.footer ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.hero-body a {
    color: currentColor;
    text-decoration: underline ;
}

.home .hero-body .container, .search .hero-body .container, .search .container.search-results {
    max-width: 650px !important;
}

.home .card, .home .box {
    height: 100%;
}

.home .box {
    box-shadow: none;
    border: 1px solid #e3e3e3;
}

.home .cards {
    background-color: #f4f7fa;
    border-bottom: 1px solid #e3e3e3;
}

.home section.section ul, .collection section.section ul {
    column-count: 2;
    column-gap: 3em;
}

[type=submit] {
    display: none;
}

.content .tabs ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}