<!DOCTYPE html>
<html class="{{ page.layout }} has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link id="favicon" rel="shortcut icon" href="/assets/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/87fc366a32.js" crossorigin="anonymous"></script>
        <script src="/js/bulma.js"></script>
        <link rel="stylesheet" href="/style.css">
        {% seo %}
    </head>
    <body>
    {% include navbar.html %}

{%- comment -%}{% include debug.html %}{%- endcomment -%}