<section class="hero">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <h1 class="title is-2 has-text-white has-text-weight-bold pt-5">Premiers pas</h1>
            <p class="subtitle has-text-white">Bienvenue sur Slack ! Nous sommes ravis de vous accueillir ici. Commençons sans attendre.</p>
        </div>
    </div>
    <div class="hero-foot pt-5">
        <div class="container is-max-desktop">
            <nav class="tabs is-boxed is-fullwidth">
                <ul>
                    <li class="is-active"><a href="/docs/premiers-pas">Premiers pas</a></li>
                    <li><a href="">Utiliser Slack</a></li>
                    <li><a href="">Votre profil</a></li>
                    <li><a href="">Connecter des outils</a></li>
                    <li><a href="">Gérer l'espace de travail</a></li>
                    <li><a href="">Tutoriels</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>