<nav class="navbar has-shadow is-fixed-top">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/assets/slack_help_center_logo.svg" alt="Slack Logo">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            {% if page.layout != 'search' %}
            <div class="navbar-item">
                <form class="control has-icons-left" action="/search/" method="get">
                    <input class="input" type="text" placeholder="Rechercher dans le centre d'assistance"
                        id="search-box" name="query">
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" value="Rechercher">
                </form>
            </div>
            {% endif %}
            <div class="buttons navbar-item">
                <a href="" class="button is-primary">Nous contacter</a>
                <a href="" class="button is-primary">Inscrivez-vous</a>
            </div>
        </div>
    </div>
</nav>