---
layout: default
toc: true
---
{% include variables.html %}

<article class="section">
    <nav class="breadcrumb has-succeeds-separator container is-max-desktop pb-2">
        <ul>
            <li><a href="/">{{ home_title | smartify }}</a></li>
            <li><a href="{{ current_parentless_url }}">{{ current_parentless | smartify }}</a></li>
            <li><a href="{{ current_parentless_url }}#{{ current_parent | slugify }}">{{ current_parent | smartify }}</a></li>
        </ul>
    </nav>
    <div class="container is-max-desktop content">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title">{{ page.title | smartify }}</h1>
                {{ content }}
            </div>
            <div class="column">
                <div class="box is-uppercase has-text-weight-semibold">Dans cet article
                    <hr>
                    {% toc %}
                </div>
            </div>
        </div>
    </div>
</article>