---
layout: default
---
{% include article-variables.html %}

<article class="section">
    <nav class="breadcrumb has-succeeds-separator container is-max-desktop pl-2 pb-2">
        <ul>
            <li><a href="/">Centre d'assistance Slack</a></li>
            <li><a href="/collections/{{ collection_slug }}/">{{ collection_title }}</a></li>
            <li><a href="/collections/{{ collection_slug }}#{{ page.section | slugify }}">{{page.section}}</a></li>
        </ul>
    </nav>
    <div class="container is-max-desktop content">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title">{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="column">
                <div class="box is-uppercase has-text-weight-semibold">Dans cet article
                    <hr>

                </div>
            </div>
        </div>
    </div>
</article>





