---
layout: default
---
<section class="hero">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <h1 class="title is-2 has-text-white has-text-weight-bold pt-5">Premiers pas</h1>
            <p class="subtitle has-text-white">Bienvenue sur Slack ! Nous sommes ravis de vous accueillir ici. Commençons sans attendre.</p>
        </div>
    </div>
    <div class="hero-foot pt-5">
        <div class="container is-max-desktop">
            <nav class="tabs is-boxed is-fullwidth">
                <ul>
                    <li class="is-active"><a href="">Premiers pas</a></li>
                    <li><a href="">Utiliser Slack</a></li>
                    <li><a href="">Votre profil</a></li>
                    <li><a href="">Connecter des outils</a></li>
                    <li><a href="">Gérer l'espace de travail</a></li>
                    <li><a href="">Tutoriels</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="container is-max-desktop content">
    <section class="section">
        <h2 class="title is-4 mb-1">Introduction à Slack</h2>
        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="">Qu’est-ce que Slack ?</a></li>
                    <li><a href="">Comprendre comment fonctionnent les actions dans Slack
                    </a></li>
                    <li><a href="">L’expérience Slack pour ordinateur
                    </a></li>
                    <li><a href="">L’expérience Slack pour appareil mobile
                    </a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="">Configuration minimale requise pour utiliser Slack
                    </a></li>
                    <li><a href="">Glossaire Slack
                    </a></li>
                    <li><a href="">Créer des directives pour les noms des canaux
                    </a></li>
                    <li><a href="">Guide Slack pour les utilisateurs de Hipchat
                    </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title is-4 mb-1">Introduction à Slack</h2>
        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="">Qu’est-ce que Slack ?</a></li>
                    <li><a href="">Comprendre comment fonctionnent les actions dans Slack
                    </a></li>
                    <li><a href="">L’expérience Slack pour ordinateur
                    </a></li>
                    <li><a href="">L’expérience Slack pour appareil mobile
                    </a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="">Configuration minimale requise pour utiliser Slack
                    </a></li>
                    <li><a href="">Glossaire Slack
                    </a></li>
                    <li><a href="">Créer des directives pour les noms des canaux
                    </a></li>
                    <li><a href="">Guide Slack pour les utilisateurs de Hipchat
                    </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title is-4 mb-1">Introduction à Slack</h2>
        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="">Qu’est-ce que Slack ?</a></li>
                    <li><a href="">Comprendre comment fonctionnent les actions dans Slack
                    </a></li>
                    <li><a href="">L’expérience Slack pour ordinateur
                    </a></li>
                    <li><a href="">L’expérience Slack pour appareil mobile
                    </a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="">Configuration minimale requise pour utiliser Slack
                    </a></li>
                    <li><a href="">Glossaire Slack
                    </a></li>
                    <li><a href="">Créer des directives pour les noms des canaux
                    </a></li>
                    <li><a href="">Guide Slack pour les utilisateurs de Hipchat
                    </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title is-4 mb-1">Introduction à Slack</h2>
        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="">Qu’est-ce que Slack ?</a></li>
                    <li><a href="">Comprendre comment fonctionnent les actions dans Slack
                    </a></li>
                    <li><a href="">L’expérience Slack pour ordinateur
                    </a></li>
                    <li><a href="">L’expérience Slack pour appareil mobile
                    </a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="">Configuration minimale requise pour utiliser Slack
                    </a></li>
                    <li><a href="">Glossaire Slack
                    </a></li>
                    <li><a href="">Créer des directives pour les noms des canaux
                    </a></li>
                    <li><a href="">Guide Slack pour les utilisateurs de Hipchat
                    </a></li>
                </ul>
            </div>
        </div>
    </section>
</div>