---
layout: default
---
<div class="container is-max-desktop content">   

    {% for category in site.data.toc.categories %}
        {% for subcategory in category.subcategories %}
        <section class="section">
            <h2 class="title is-4 mb-1">{{ subcategory.subcategory_name }}</h2>
            <ul style="column-count: 2; column-gap: 3em;">
                {% for article in subcategory.articles %}
                <li><a href="{{ article.article_url }}">{{ article.article_title }}</a>
                </li>
                {% endfor %} 
            </ul>
        </section>
        {% endfor %}
    {% endfor %}
            
</div>