---
layout: default
---
<div class="container is-max-desktop content">   
    {%- comment -%}page.url : {{ page.url }}{%- endcomment -%}
    {% for collection in site.data.collections %}
    {% if page.url contains collection.collection_url %}
        {% for section in collection.sections %}
        <section class="section">
            <h2 class="title is-4 mb-1">{{ section.section_name }}</h2>
            <ul style="column-count: 2; column-gap: 3em;">
                {% for article in section.articles %}
                <li><a href="/articles/{{ article.article_url }}/">{{ article.article_title }}</a>
                </li>
                {% endfor %} 
            </ul>
        </section>
        {% endfor %}
    {% endif %}
    {% endfor %}
</div>